@media (min-width: 501px) {
// @import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
//


//collapsible
[data-role='collapsible']{
  font-size: 15px;

  h2{
    background-color: #ededed;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    border-right-width: 1px;
    border-left-width: 1px;
    padding: 7px 0px;
    border-radius: 25px;
  }

  h2.close::before{
    content: "";
    display: block;
    background: url("https://www.kickz.com/css/images/icon_zoom_plus.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px 15px 0 10px;
  }

  h2.open::before{
    content: "";
    display: block;
    background: url("https://www.kickz.com/css/images/icon_zoom_minus.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px 15px 0 10px;
  }

  p.close{
    display: none;
  }

  p.open{
    position: relative;
    left:35px;
    font-size:20px;
  }
}


body{
  background: #c8d8d4;
}

.control_bar, #close{
  display: none;
}




.banner{
  // display: none;
  .icon{
    position: absolute;
    right: 50px;
    top:75px;

    .search{
      .close{
        display: none;
      }

      input{
        height: 40px;
        font-size: 20px;
        position: relative;
        bottom: 18px;
      }
    }//.search

    img{
      height: 50px;
    }

    img:not(:first-child):hover{
      width: 60px;
      height: auto;
    }
  }
}

.top_navbar{
  position: absolute;
  top: 130px;
  left:20px;
  width: 100%;
  z-index: 1;



  li{
    float: left;
    // max-width: 120px;
    margin-right: 30px;
    list-style: none;
    padding: 20px 20px 10px 0px;
    font-size: 20px;
    // text-align: center;
    // background: pink;


    a{
      display: block;
      max-width: 120px;
      margin-left: auto;
      margin-right: auto;
      color: white;
    }

    a:link{
      text-decoration: none;
    }


  }
  li:last-child{
    clear: right;
    // border-right: none;
  }


  //
  // .accordian_down{
  //   background: red;
  // }


  .desktop_nav{
    li{
      max-width:50px;
    }



    .accordian{
      background-color: pink;
      width: 120px;
      display: inline-block;
      z-index: 1;
    }

    .accordian.close{
      display: none;
    }

    .accordian.open{
      margin-top: 12px;
      position: relative;
      right: 5px;
      a{
        margin-top: 15px;
        // text-align: center;
        height: 30px;
        padding-right: 10px;
        padding-left: 5px;
        padding-bottom: 10px;
      }

      a:not(:last-child){

        border-bottom: 2px solid
      }
    }
  }


}//top_navbar

.part_A_nav, .part_B_nav, .part_C_nav{
  position: relative;
  // left:10px;

  #part_A_navbar_one, #part_B_navbar_one, #part_C_navbar_one{
    clear: left;
  }

  ul{
    list-style: none;

    .highlight{
      background: pink;
    }

    li{
      float: left;
      max-width: 150px;
      margin-bottom: 20px;
      padding:10px 20px;
      margin-right: 20px;

      a{
        text-align: center;
      }


      a:link{
        text-decoration: none
      }

    }

    li:last-child{
      clear: right;
      border-right: none;
    }
  }

}


.banner{
  background: black;
  height: 200px;
  color: white;
  font-family: 'cwTeXYen', sans-serif;
  font-size: 60px;
}

.banner_title{
  position: relative;
  left: 50px;
  top: 50px;
}

.page_A_container_of_four_parts, .pages{
  clear: left;
  position: relative;
  left: 50px;
}


form, .pages{
  clear: left;
  position: relative;
  width: 90%;

  label{
    display: block;
    font-size: 20px;
    padding: 10px;
  }

  label:nth-child(even){
    background: #f6f6f6;
  }

  input{
    float: right;
    position: relative;
    top: 25%;
    border-radius: 10px;

    // right: 1%;
  }

  input:checked{
    background: blue;
  }

}//end of form

.four_one_eight_submit{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}



.part_A_page_2{
  clear: left;
}

.part_A_page_3{
  width: 91%;
}


.part_C_box{
  font-size: 25px;
  margin: 15px;
  button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      float: right;
      margin: 0px 10px;
  }
}



// open
$color-red: red;
$color-green: green;
$color-gold: gold;
$color-pink: pink;



.content-wrapper{
  z-index: 0;
}

.main{
  background: white;
  height: 110px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 10;

  // background: #FFF;
  // height: 110px;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 10;
.nav_main{
  background: #313131;
  position: fixed;
  width: 80%;
  z-index: 30;
  height: 110px;
  margin: 0 auto;
  left: 0;
  right: 0;

  ul{
    list-style: none;
    position: relative;
    top:-16px;
    li{
      cursor: pointer;
      float: left;
      height: 90px;
      margin: 0;
      overflow: visible;
      position: relative;
      width: 14.28571%;
      text-align: center;
      padding-top: 15px;
      .icon{
        color: white;
        font-size: 50px;
      }  //icon
      .icon-fire{
        color: $color-red;
      }
      .icon-music{
        color: $color-gold;
      }
      .icon-book{
        color: $color-green;
      }
      .icon-heart{
        color: $color-pink;
      }




      .title{
        margin-top: 10px;
        color: white;
        padding-bottom: 7px;
      }

    }//li


    li.music{
      border-bottom: solid $color-gold 5px;
      transition: 0.5s;
    }//li.music
    li.fire{
      border-bottom: solid $color-red 5px;
      transition: 0.5s;
    }//li.music
    li.book{
      border-bottom: solid $color-green 5px;
      transition: 0.5s;
    }//li.music
    li.heart{
      border-bottom: solid $color-pink 5px;
      transition: 0.5s;
    }//li.music

    li.music:hover{
      background-color: $color-gold;
      transition: 0.5s;
      .icon{
        color: white;
      }
    }
    li.fire:hover{
      background-color: $color-red;
      .icon{
        color: white;
      }
    }
    li.book:hover{
      background-color: $color-green;
      .icon{
        color: white;
      }
    }
    li.heart:hover{
      background-color: $color-pink;
      .icon{
        color: white;
      }
    }//li.heart:hover
  }//ul
}//.nav_main
}//.main

.content{
  display: block;
  width: 81%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  z-index: 0;
  position: relative;
  top:103px;
  height: 2000px;
  // min-height: 1000px;
  overflow-x:hidden;


  .mosaic-section{
    float: left;
    width:63%;
    height: 651px;
    background: #AAA;
    padding: 10px;

    .top{
      width: 100%;
      height: 388px;
      background: #CCC;
      margin-bottom: 1.5%;
    }

    .bottom-left{
      width: 49%;
      height: 250px;
      background: #CCC;
      float: left;
      margin-right: 2% ;
    }
    .bottom-right{
      width: 49%;
      height: 250px;
      background: #DCC;
      float: left;
    }
  }//.mosaic-section

  .right-banner{
    min-height: 100px;
    background: #BBB;
    padding: 10px;
    margin-left: 65.5%;
    .right-banner-box{
      height: 212px;
      background: blue;
      margin-bottom: 5px;
      z-index: 100;
    }
  }//.right-banner

  .slider{
    width: 5000px;
    height: 200px;

    .button{
        opacity: .5;
    }
    .button:hover{
        opacity: 1;
    }

    .right-button{
      position: absolute;
      z-index: 2;
      top:815px;
      right: 20px;
    }
    .left-button{
      position: absolute;
      z-index: 2;
      top:815px;
      left: 20px;
    }



    ul{
      list-style: none;
      .slider-ul{
        position: relative;
        left:-210px;
        margin: 0px;
        padding: 0px;
        width:9999px;
        padding-bottom:10px;
      }
    }

    .slider-ul li{
    float: left;
    width:200px;
    padding:0px;
    height:250px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5px;
    margin-right:5px;
    }



    .slider-box{
      height: 300px;
      width: 220px;
      float: left;
      background: pink;
      position: relative;
      right: 23px;
      margin-right: 10px;
      transition: 0.5s;
      .image{
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      img{
        margin-top: -30px;
        width: 180px;
        z-index: 10;
      }
    }

    $multiply: 1.05;

    li.big-one{
      height: $multiply*300px;
      width: $multiply*264px;
      background: gold;
      .image{
        width: 230px;
      }
      img{
        width: 230px;
        transition: 0.5s;
      }
    }


  }//slider





  .bottom-banner{
    width: 200px;
    height: 250px;
    background: red;
    clear: both;
    margin-top: 250px;
    margin-left: 18px;
    // transition: 1s;
    .banner-content{
      position: relative;
      top: 100px;
      height: 100px;
      background: #BBB;
    }
  }

  @keyframes mymove {
      0%  {margin-top: 250px;}
     50%  {margin-top: 255px;}
     100% {margin-top: 250px;}
  }

  .bottom-banner:hover{
    animation-name: mymove;
    animation-duration: 0.5s;
    .banner-content{
      position: relative;
      top: 100px;
      height: 100px;
      background: #BBB;
    }
  }



}//.content

#carousel_inner {
float:left; /* important for inline positioning */
width:630px; /* important (this width = width of list item(including margin) * items shown */
overflow: hidden;  /* important (hide the items outside the div) */
/* non-important styling bellow */
background: #F0F0F0;
}

#carousel_ul {
position:relative;
left:-210px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;
}

#carousel_ul li{
float: left; /* important for inline positioning of the list items */
width:200px;  /* fixed width, important */
/* just styling bellow*/
padding:0px;
height:110px;
background: #000000;
margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;
}

#carousel_ul li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
cursor:pointer;
cursor: hand;
border:0px;
}
#left_scroll, #right_scroll{
float:left;
height:130px;
width:15px;
background: #C0C0C0;
}
#left_scroll img, #right_scroll img{
/*styling*/
cursor: pointer;
cursor: hand;
}



}
