@media screen and (max-width: 501px) {
  #loading{
    z-index: 1;
    background: white !important;
    left: 0;
    top: 0;
    color: black;
    position: absolute;;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
  }


  .ui-panel-wrapper{
    background: #c8d8d4 !important;
  }

  .banner, .desktop_nav1, .desktop_nav{
    display: none;
  }

  .control_bar{
    background: rgb(51, 51, 51);

    a {
      position: relative;
      left: 17px;
    }

    .title{
      position: relative;
      left: 30px;
      top: 7px;
      font-size: 30px;
      color: #e5e5e5;
    }
  }

  .yes, .no, .one, .two, .three, .four, .five, .six{
    margin-top: 20px;
  }

  .part_A_moon, .part_C_moon{
    // margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
  }

  .part_A_box, .part_B_box, .part_C_box{
    width: 99%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .part_A_page_4 {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  a{
    text-decoration: none;
    color: blue;
  }

  [data-role="page"]{
    min-height: 100%;
  }

  .article_detail{
    img{
      width: 100%;
    }
  }

}//end of media width
