<!-- phone version -->

<div data-role="header">
  <div data-role="navbar">
    <ul>
      <li class="desktop_nav">
        <a href="">首頁</a>
      </li>

      <li class="desktop_nav">
        <a href="">面試貼士</a>
      </li>

      <li class="desktop_nav">
        <a href="">面試貼士</a>
      </li>
      <li id="index_page">
        <a href="{% url 'index_page' %}">勞資糾紛</a>

      </li>
      <li id="form_union">
        <a href="{% url 'form_union' %}">組建工會</a>
      </li>
      <li id="claim">
        <a href="{% url 'claim' %}">工傷索償</a>
      </li>
    </ul>
  </div><!-- end of navbar -->
</div><!-- end of header -->
