<div class="part_A_page_1 part_A_moon part_A_navbar_one">
  <form>
    <br>
    你遇到的是什麼問題？
    <!-- Question_1 -->

    <label id="four_one_eight"><input type="checkbox" > 1. 你的工作是否連續4星期，每星期工作超過18小時？ </label>

    <!-- Question_2 -->
    <label id="back_pay"><input type="checkbox" name="back_pay"> 2. 欠薪 </label>


    <!-- Question_3 -->
    <label id="holiday_wage"><input type="checkbox" name="holiday_wage"> 3. 假期工資問題 </label>

    <!-- Question_4 -->
    <label id="fire"><input type="checkbox" name="fire"> 4. 無理解雇 </label>

    <!-- Question_5 -->
    <label id="severance_pay"><input type="checkbox" name="severance_pay"> 5. 遣散費 </label>

    <!-- Question_6 -->
    <label id="salary"><input type="checkbox" name="salary"> 6. 工資低於最低工資 </label>
    <!-- Question_7 -->
    <label id="discrimination"><input type="checkbox" name="discrimination"> 7. 歧視 </label>

  </form>
    <button class = "four_one_eight_submit">提交</button>
  </div>

  <div id="form_result">
    <div class="part_A_box"></div>
    <button class='return'>返回上一頁</button>
  </div>
