<div class="banner">
  <div class="banner_title">惟工新聞開工網</div>

  <div class="icon">
    <span class="search">
    <img src="http://www.clker.com/cliparts/n/C/y/X/u/K/search-icon-th.png">
      <span class="close">
        <input type="text" placeholder="搜尋">
      </span>
    </span>
    <img src="https://www.tesco-baby.com/content/themes/tescobaby/assets/img/sprites/facebook-icon-color.png">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Logo_google%2B_2015.png/100px-Logo_google%2B_2015.png">
    <img src="https://www.tesco-baby.com/content/themes/tescobaby/assets/img/sprites/twitter-icon-color.png">

  </div>

</div>
