

{% include "script.html" %}
<div id='loading'></div>

<div data-role="page">
    {% include "header.html" %}

<div class="control_bar">
  <a href="#myPanel" class="ui-btn ui-btn-inline">Open</a>
  <span class="title"> 組建工會 </span>
</div>
<!-- /control_bar -->

<div data-role="content" class="part_B" data-theme="e">
    <div class="part_B_nav" data-role="navbar" data-theme="c">
      <ul>
        <li id="part_B_navbar_one" class="highlight "><a class=" ui-btn-active" href="#">功能</a></li>
        <li id="part_B_navbar_two"><a href="#">行政及法律</a></li>
        <li id="part_B_navbar_three"><a href="#"> 譯文</a></li>
        <li id="part_B_navbar_four"><a href="#">打擊手段</a></li>
      </ul>
    </div><!-- /navbar -->


  <div class="pages">

    <div class="part_B_part_1 part_B_navbar_one part_B_moon part_B_box">
      第一頁：工會是什麼，工會有咩用（附本地外地報導全集）
    </div>  <!-- part_B_part_1 -->

    <div class="part_B_part_2 part_B_navbar_two part_B_moon part_B_box">
      第二頁：行政程式及法律保護
    </div>  <!-- part_B_part_2 -->

    <div class="part_B_part_3 part_B_moon part_B_navbar_three part_B_box">
      第三頁：IWW One Big Union 譯文
    </div>  <!-- part_B_part_3 -->

    <div class="part_B_part_4 part_B_navbar_four part_B_moon part_B_box">
      第四頁：政府商界打擊工會有幾不擇手段（附抹黑全集，工聯會全集
    </div>  <!-- part_B_part_4 -->

  </div> <!-- end of pages -->
</div><!-- end of content -->
</div><!-- /#page2  -->
