<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/theme0.css' %}">
</head>

<body>
  <div class="background">
    <!-- <img src="{% static 'img/Christmas-Background-02.jpg' %}" alt="My image"/> -->
  </div>

  <div class="nav-bar">
    <div class="logo">image</div>

    <ul>
      <li>ライトハウスとは</li>
      <li>人身取引とは</li>
      <li>お知らせ</li>
      <li>事件簿</li>
      <li>活動内容</li>
      <li>相談する</li>
      <li>寄付する</li>
      <li>English</li>
    </ul>
  </div>


<div class="content">
  <div class="banner">
    <div class="banner-title">
    女性や子どもの笑顔を守りたい
    <div class="banner-buttons">
      <a href="#">ライトハウスとは</a>
      <a href="#">人身取引とは</a>
      <a href="#">相談する</a>
    </div>
    </div>



  </div>
  <div class="news">
    <div class="news-wrapper">
    <div class="news-title">
      お知らせ, slideshow
    </div><!-- news-title -->
    <div class="news-slideshow">
      <div class="news-box-holder">
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
      </div><!-- news-box-holder -->

      <div class="news-box-holder">
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
      </div><!-- news-box-holder -->

      <div class="news-box-holder">
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
        <div class="news-box">
          <div class="news-box-image">
            <img src="http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/006.jpg">
          </div>
          <div class="news-box-title">
            噴火龍
          </div>
          <div class="news-box-content">
            噴火龍是精靈寶可夢系列登場的718種虛構角色中的一種。 雖然噴火龍的中文名字中有龍，但噴火龍並不是龍屬性的寶可夢，由噴火龍的日
          </div>
        </div><!-- news-box -->
      </div><!-- news-box-holder -->




    </div><!-- news-slideshow -->
  </div><!-- news-wrapper -->
  </div><!-- news -->


  <div class="files">事件簿, three boxes</div>
  <div class="activites">活動内容, three circles</div>
  <div class="client_service">相談する, three circles</div>
  <div class="hope">寄付する, button</div>
  <div class="footer">footer, list</div>
</div>





</body>
</html>
