{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<link rel="stylesheet" href="{% static 'css/jquery.mobile.min(1.4.5).css' %}">

<script src="{% static 'js/width_set.js' %}"></script>



<link rel="stylesheet" href="{% static 'css/theme.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'css/desktop.css' %}">

<script src="{% static 'js/open_work.js' %}"> </script>

<script src="{% static 'js/list_highlight.js' %}"> </script>
