<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include "script.html" %}

</head>

<body>

<div id = "mobile_version">
  <div data-role="page" id = "page2">
    {% include "header.html" %}


<div data-role="content" class="part_C" data-theme="e">
    <div class="part_C_nav" data-role="navbar" data-theme="c">
    <ul>
      <li id="part_C_navbar_one"><a href="#">你是？</a></li>
      <li id="part_C_navbar_two"><a href="#">追討流程圖</a></li>
      <li id="part_C_navbar_three"><a href="#">受害者故事</a></li>
    </ul>
    </div>

  <div class="pages part_C_box">
    <div class="part_C_page_1 part_C_moon part_C_navbar_one">
      <div class="part_C_q1 part_C_box">
        1. 你是工傷者還是工傷者家屬？
          <button class="yes"> 工傷者 </button>
          <button class = "no"> 工傷者家屬 </button>
      </div>
    </div> <!-- part_C_page_1-->

    <div class="part_C_q2 part_C_box">

    </div> <!-- part_C_q2 -->

    <div class="part_C_q3 part_C_box">

    </div><!-- part_C_q3 -->




<div class="part_C_page_2 part_C_moon part_C_navbar_two">
  第二頁：追討流程圖
  <div data-role='collapsible-set'>
    <div data-role='collapsible' data-collapsed='true'>
      <h2> 報工傷 </h2>
      <p> Content  Content  Content </p>
    </div>
    <div data-role='collapsible' data-collapsed='true'>
      <h2> 醫療期 </h2>
      <p> Content  Content  Content </p>
    </div>
    <div data-role='collapsible' data-collapsed='true'>
      <h2> 如何申請法援 </h2>
      <p> Content  Content  Content </p>
    </div>
    <div data-role='collapsible' data-collapsed='true'>
      <h2> 判傷 </h2>
      <p> Content  Content  Content </p>
    </div>
    <div data-role='collapsible' data-collapsed='true'>
      <h2> 唔識搞可以揾邊個 </h2>
      <p> Content  Content  Content </p>
    </div>
  </div><!-- collapsible-set -->
</div>  <!-- part_C_page_2 -->

<div class="part_C_page_3 part_C_moon part_C_navbar_three">
    第三頁：工傷受害者故事、常見賤招及政策倡議（工權會及訪問全集）
    工亡血債
</div>  <!-- part_C_page_3 -->

  </div> <!-- end of pages -->
</div><!-- end of content -->



  </div>
</div><!-- mobile version -->

<!-- <script src="{% static 'js/part_C.js' %}"> </script> -->
<!-- <script src="{% static 'js/open_work.js' %}"> </script> -->
<script src="{% static 'js/open_work.js' %}"> </script>
</body>
</html>
