#index_page{
  display: none
}

@media screen and (max-width: 500px) {

  .part_A_moon, .part_C_moon{
    // margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
  }

  .part_A_box, .part_B_box, .part_C_box{
    width: 99%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }


  .part_A_page_4 {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  a{
    text-decoration: none;
    color: blue;
  }






}
